
.navbar_PP {
  display: flex;
  justify-content: space-between;
  background-color: #E7E7E7!important;
  color: white;
  height: 70px;
}

/* Estilos para el logo */
.navbar_PP img {
  height: 50px;
  width: 100px;
}



/* Estilos para los elementos de la derecha */
.navbar-right {
  display: flex;
  align-items: center;
}



.navbar_PP a:hover {
  background: #cac9c9;
  color: rgb(0, 0, 0);
  
}
