/* Estilos para el cuerpo */

.header { /*Define el estilo para el encabezado principal de la página, que incluye un diseño flexbox y una imagen de fondo escalada para ajustarse al tamaño del contenedor.*/
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 481px;
    /* height: 60vh !important; */
    background: url(../../../assets/images/headerDos.jpg) no-repeat center;
    background-size: cover;


}

header h1{
  text-align: center;
  font-size: 5rem;
  padding: 100px 50px;
  
  color:#dddddd; 
}

.title { /*Establece el estilo para el título en el encabezado principal, incluyendo el tamaño de fuente, peso de fuente, color del texto y transformación de texto en mayúsculas.*/
    margin-bottom: 40px;
    font-size: 60px;
    font-weight: 600;
    text-transform: uppercase;
    color: #ffffff;
}

h2{
  margin-top: 20px;
  margin-bottom: 40px;
  text-align: center;
}

p {  /*Establece el estilo para los párrafos en el encabezado principal, incluyendo el tamaño de fuente, color del texto, margen inferior y relleno a la iz*/
    margin-bottom: 40px;
    font-size: 23px;
    color: #000000;
    padding: 0 100px;
}




/* Establecer los estilos del botón de inicio */
.btn-home {
    display: flex;
}

/* Establecer los estilos de los enlaces en el botón de inicio */
.btn-home a {
    margin: 0 10px;
}

/* Establecer los estilos del contenido */
.content {

    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.sau {
    padding: 30px;
    background-color:#1d2866;
    color: #dddddd;
    /*sirve para rellenar el contenido con la imagen */

}

.price {
background-color:#dddddd ;
}


.contact {
    padding-top: 20px;
    background: #dddddd;
    padding-bottom: 0;
    /*le da el color azul marino y lo centra para q no haya bordes blancos*/

}
/*Modificadores Section Content Sau*/
.image-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.image {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  margin-right: 0,5px;
  width: 33%;
}

img {
  width: 450px;
  height: 250px;
}

a {
  margin-top: 10px;

}

/*Modificadores Section Content Price*/

.contenedor-imagenes {
  display: flex; /* Alinea los elementos horizontalmente */
  justify-content: center; /* Centra los elementos horizontalmente */
  flex-wrap: wrap; /* Permite que los elementos se envuelvan en una segunda fila */
}

.contenedor-imagenes img {
  margin: 40px 40px 40px;
  max-width: 70%;
  height: 70%;
}
.contenedor-imagenes button {
  display: block; /* Mostrar el botón como un elemento de bloque */
  margin: 0 auto 0; /* Centrar horizontalmente y ajustar el margen superior para subir el botón */
  background-color: #000000; /* Establecer el color de fondo del botón */
  color: white; /* Establecer el color del texto del botón */
  padding: 20px 40px; /* Agregar relleno al botón */
  border: none; /* Eliminar el borde del botón */
  border-radius: 10px; /* Agregar bordes redondeados al botón */
  font-size: 16px; /* Establecer el tamaño de fuente del botón */
}

.contenedor-imagenes button:hover {
  background-color: #555555;
}

.register-link a {
  color: #dddddd;
  text-decoration: none;
  text-align: left;
  }

  /* Estilo para el enlace "¿Tienes una cuenta? Inicia sesión" cuando se desplaza sobre él */
  .register-link a:hover {
  text-decoration: none;
  color: #383838;
  }

  @media (max-width: 768px) {
    .header { /*Define el estilo para el encabezado principal de la página, que incluye un diseño flexbox y una imagen de fondo escalada para ajustarse al tamaño del contenedor.*/
      display: flex;
      justify-content: flex-start;
      align-items: center;}
      
    .image-container {
      display: flex;
      justify-content: center;
      flex-direction: column;
      flex-wrap: wrap;

    }

    .image img{
      width: 300PX;

    }

    .image{
      margin: 40px 40px 40px;
      width: auto;
    }

    p {  /*Establece el estilo para los párrafos en el encabezado principal, incluyendo el tamaño de fuente, color del texto, margen inferior y relleno a la iz*/
      margin-bottom: 20px;
      font-size: 1.5rem;
      color: #000000;
      padding: 0%;

    
  }
  .header h1{
    text-align: left;
    font-size: 3.5rem;
    padding: 100px 50px;
    margin-right: 60%;
    color: #d4d4d4; 
  }


    }
  @media (min-width: 769px) and (max-width:1281px) {
    .image-container {
      display: flex;
      justify-content: center;
      flex-direction: column;
      flex-wrap: wrap;

    }

    img {
      width: 650px;
      height: 350px;
    }

    .image{
      margin: 40px 40px 40px 40px;
      width: auto;
    }

    figure{
      display: flex;
      justify-items: center;
      flex-direction: column;
    }

    .contenedor-imagenes img{
      margin: auto;
    }
   
  }



